{% extends "base.html" %}

{% block title %}<title>MKch - Пасскод</title>{% endblock %}

{% block body %}
        <div class="container">
        <div class="info-header">
                <h2>Пасскод - всё, что нужно знать</h4>
        </div>
    <div class="info-container">
        <h3>Что это такое?</h3>
        <h4>Пасскод - необязательная услуга, которая отключает Captcha при написании треда/коммента.</h4>
        <h3>Как его получить?</h3>
        <h4>На данный момент, покупка недоступна. Скоро все будет.</h4>
        <h3>Как ввести/сбросить пасскод?</h3>
        <h4>После покупки пасскода, введите его <a href="/passcode/enter">сюда</a>. Для сброса <a href="/passcode/reset">сюда.</a></h4>
        <h3>Что нельзя делать?</h3>
        <h4> - Передавать пасскод другим людям (использовать с других устройств можно)</h4>
        <h4> - Использовать пасскод для нарушения правил, особенно флуда!</h4>
        <h4>Мы имеем полное право сбросить ваш пасскод при нарушении правил, даже если его покупали. Возврат денег не предусмотрен.</h4>
    </div>
    </div>
{% endblock %}
