{% extends "base.html" %}

{% block title %}<title>MKch - Пасскод</title>{% endblock %}

{% block body %}
        <div class="container">
        <div class="info-header">
                <h2>Пасскод - всё, что нужно знать</h4>
        </div>
    <div class="info-container">
        <h3>Что это такое?</h3>
        <h4>Пасскод - необязательная услуга на MKch, которая отключает Captcha при написании треда/коммента.</h4>
        <h3>Как его получить?</h3>
        <h4>Автоматического метода для получения пасскода - нет. Чтобы купить пасскод, попросите админов об этом. После получения пасскода, введите его <a href="/passcode/enter">здесь</a>, и вы получаете беспрепятственный доступ к постингу. Если вы ввели пасскод и по каким-то причинам хотите его "забыть" - кликните <a href="/passcode/reset">сюда</a>.</h4>
        <h3>Могу ли я купить пасскод другому МК'шеру?</h3>
        <h4>Конечно! Только если при покупке пасскода вы предупредите админа, что это подарок.</h4>
        <h3>Что нельзя делать?</h3>
        <h4> - Передавать пасскод другим людям (использовать с других устройств можно)</h4>
        <h4> - Использовать пасскод для нарушения правил, особенно флуда!</h4>
        <h3>А что, если я нарушу правила с пасскодом?</h3>
        <h4>Мы имеем полное право сбросить ваш пасскод, даже если его покупали. Возврат денег не предусмотрен.</h4>
    </div>
    </div>
{% endblock %}