{% extends "base.html" %}

{% block title %}<title>MKch - Пасскод</title>{% endblock %}

{% block body %}
    <div class="container">
        <h2>Пасскод позволяет обходить капчу при создании тредов и комментариев.</h2>
        <h3>Как это работает?</h3>
        <h4>Вводите <a href="/passcode/enter">здесь</a> пасскод и получаете беспрепятственный доступ к постингу. Если вы ввели пасскод и по каким-то причинам хотите его "забыть" - кликните <a href="/passcode/reset">сюда</a>.</h4>
        <h3>Что нельзя делать?</h3>
        <h4> - Передавать пасскод другим людям (использовать с других устройств можно)</h4>
    </div>
{% endblock %}
