{% extends "base.html" %}

{% block title %}<title>mkch - Комментирование</title>{% endblock %}

{% block body %}
	<div class="container">
		<div class="thread">
			<h2>Добавить комментарий к треду</h2>
			{% if error %}
				<h3>{{error}}</h3>
			{% endif %}

			<form enctype="multipart/form-data" action="" method="post">
				{% csrf_token %}
                <div class="format-toolbar">
                    <button type="button" class="format-btn" title="Цитата" data-format="quote">&gt;</button>
                    <button type="button" class="format-btn" title="Спойлер" data-format="spoiler">S</button>
                    <button type="button" class="format-btn" title="Зачеркнутый" data-format="strike"><s>T</s></button>
                    <button type="button" class="format-btn" title="Ссылка на тред" data-format="link">LINK</button>
                </div>
				<table>
					{{form}}
				</table>
				<input type="submit" value="Создать" />
			</form>
		</div>
	</div>

	{% load static %}
	<script src="{% static 'js/dragNDrop.js' %}"></script>
    <script src="{% static 'js/formatter.js' %}"></script>
	{% if not passcode %}
		{% include 'pow/pow_form.html' %}
	{% endif %}
{% endblock %}
