{% extends "base.html" %}

{% block title %}<title>mkch - #{{thread.id}}</title>{% endblock %}

{% block body %}
	{% load static %}
	<script src="{% static 'js/draggable.js' %}"></script>
	<script src="{% static 'js/dragNDrop.js' %}"></script>
	<script src="{% static 'js/tooltip.js' %}"></script>
	<script src="{% static 'js/date_tooltip.js' %}"></script>
	<script src="{% static 'js/formatter.js' %}"></script>

    <div class="container" id="all-container">
	<h1 class="js-autopop">Если вы это видите то у вас выключен JS. Пожалуйста, включите его, так как на нём держится куча функций, в частности функция отображения формы написания комментария при клике на кнопку.</h1>

        <div class="thread-container">
            <div class="thread-item">
                <div class="thread-file" id="thread-file">
                    {% for file in thread.threadfile_set.all %}
                        {% if file.fclass == "photo" %}
                            <img src="{{file.file.url}}" class="thread-image" id="img_thread_{{thread.id}}_{{forloop.counter}}" onclick="createImageFloatingDiv('img_thread_{{thread.id}}_{{forloop.counter}}')"></img>
                        {% elif file.fclass == "video" %}
                            <video controls="" src="{{file.file.url}}"></video>
                        {% else %}
                            <a href="{{file.file.url}}">{{file.file.name}}</a>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="thread-header detail">
                    {% load static %}
                    <h1 class="thread-title detail">{% if thread.archived %}<img class="small-icon" src="{% static 'media/archive.svg' %}">{% endif %} {{thread.title}}</h1>
                    <span class="thread-meta detail">
                        <h1 class="thread-id detail">#{{thread.id}}</h1>
                        <h5 class="thread-stats detail">{{thread.creation | date}}, {{thread.comment_set.count}} СМС, {{thread.rating}}PP</h5>
                    </span>
                </div>

                <div class="thread-description">
                    <h2>{{thread.formatted | safe}}</h2>
                </div>
            </div>
                <div id="posts" class="posts-container">
                    {% for comment in thread.comment_set.all %}
                        <div class="post{% if comment.id in user_posts %} user-post{% elif comment.id in replies_to_user %} reply-to-user{% endif %}" id="post-{{comment.id}}">
                            <div class="post-header" id="comment_{{comment.id}}">
				    <h4 class="header-data">{% if thread.author == comment.author %}(ОП){% endif %} {{comment.author_code}} <a href="javascript:void(0);" onclick="addReply('{{comment.id}}')" class="post-id-link">#{{comment.id}}</a> <span class="post-date">{{comment.creation | date}} <div class="date-detail" hidden="">{{comment.creation | date:"d/m/Y H:i:s | U"}}</div></span></h4>
				{% if comment.commentfile_set.all.count > 0 %}
				    <div class="comment-files">
                                    {% for file in comment.commentfile_set.all %}
                                                                {% if file.fclass == "photo" %}
							   	    <img src="{{file.file.url}}" class="post-image{% if comment.is_nsfw and blur %}-nsfw{% endif %}" id="img_comment_{{comment.id}}_{{forloop.counter}}" onclick="createImageFloatingDiv('img_comment_{{comment.id}}_{{forloop.counter}}')"></img>
                                                                {% elif file.fclass == "video" %}
                                                                    <video class="video-post-{{comment.id}}" controls="" src="{{file.file.url}}"></video>
                                                                {% else %}
                                                                    <a href="{{file.file.url}}">{{file.file.name}}</a>
                                                                {% endif %}
                                        {% endfor %}
				    </div>
				{% endif %}

				<div class="post-message"><h4>{{comment.formatted | safe}}</h4></div>
                            </div>

			    <div class="reply-container"></div>
                            {% if comment.replies %}
                            <div class="replies">
                                    {% for reply in comment.replies %}
				    	<h6 class="reply"><a class="replylnk" href="#comment_{{reply.id}}">>> {{reply.id}}</a></h6>
                                    {% endfor %}
                            </div>
                            {% endif %}

                        </div>
                    {% endfor %}
                </div>
                {% if not thread.board.lockdown and thread.board.enable_posting and not thread.archived or user.is_admin %}
			<button class="show-comment-form-button">Написать комментарий</button>
			<form class="comment-form" method="POST" action="/boards/board/{{thread.board.code}}/thread/{{thread.id}}/comment" enctype="multipart/form-data" hidden="">
				{% csrf_token %}
                <div class="format-toolbar">
                    <button type="button" class="format-btn" title="Цитата" data-format="quote">&gt;</button>
                    <button type="button" class="format-btn" title="Спойлер" data-format="spoiler">S</button>
                    <button type="button" class="format-btn" title="Зачеркнутый" data-format="strike"><s>T</s></button>
                    <button type="button" class="format-btn" title="Ссылка на тред" data-format="link">LINK</button>
                </div>
				<table>
					{{form}}
				</table>
				<input type="submit" value="SUBMIT!" />
			</form>

            {% include 'pow/pow_form.html' %}
		{% endif %}
    </div>

	<script>
		function updateCommentList() {
			fetch(window.location.href)
				.then(response => response.text())
				.then(text => {
					const parser = new DOMParser();
					const list = parser.parseFromString(text, 'text/html');

					const posts = list.querySelectorAll(".post");
					const posts_o = document.querySelectorAll(".post");
					const container = document.querySelector(".posts-container");

					if(posts.length <= posts_o.length) {return;}
					const diff = posts.length - posts_o.length;
                    			for(let i = posts_o.length; i < posts.length; i++) {
			    			container.appendChild(posts[i]);
					}

					document.querySelector(".thread-header").innerHTML = list.querySelector(".thread-header").innerHTML;
				});
		}

		function showForm(e) {
			console.log("sex");

			e.target.hidden = true;
			let formo = document.querySelector(".comment-form");
			formo.hidden = null;
		}

        function addReply(postId) {
            const form = document.querySelector('.comment-form');
            const textarea = form.querySelector('textarea');
            const showFormButton = document.querySelector('.show-comment-form-button');

            if (form.hidden) {
                showFormButton.click();
            }

            const replyText = '#' + postId + ' ';
            let currentText = textarea.value;

            if (currentText.length > 0 && currentText[currentText.length - 1] !== ' ' && currentText[currentText.length - 1] !== '\n') {
                textarea.value += ' ';
            }

            textarea.value += replyText;

            textarea.focus();
        }

		window.addEventListener("load", () => {
			let d = document.querySelector(".show-comment-form-button");

            if(d) {
                d.addEventListener("click", showForm);
            }

			setInterval(updateCommentList, 10000);
		});
	</script>

{% endblock %}
