{% extends "base.html" %}

{% block title %}<title>MKch - {{board.code}}</title>{% endblock %}

{% block body %}
	<div class="container">
		<div class="board-container">
			{% if board.banner %}
				<div class="board-banner">
					<img src="{{board.banner.url}}" class="banner-image"></img>
				</div>
			{% endif %}

			<div id="thread-list">
				{% for thread in thread_list %}
					<div class="thread-container" onclick="window.location.href='/boards/board/{{board.code}}/thread/{{thread.id}}'">
						<div class="thread-item">
							<div class="thread-file">
							{% for file in thread.threadfile_set.all %}
									{% if file.fclass == "photo" %}
										<img src="{{file.file.url}}" id={{file.file.url}} class="thread-image" onclick="createImageFloatingDiv('{{file.file.url}}')"></img>
									{% else %}
										<a href="{{file.file.url}}">{{file.file.name}}</a>
									{% endif %}
							{% endfor %}
							</div>

							<div class="thread-header">
								<h1>{{thread.title}} </h1> <h2>{{thread.author.code}}</h2> <h3>{{thread.creation | date}}</h3>
							</div>

							<div class="thread-description">
								<h2>{{thread.text}}</h2>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="new-thread-button">
			<a class="new-thread-btn" href="/boards/board/{{board.code}}/new">Начать тред</a>
		</div>
	</div>

	<script>
		function updateThreadList() {
			fetch(window.location.href)
				.then(response => response.text())
				.then(text => {
					console.log(text);
					const parser = new DOMParser();
					const list = parser.parseFromString(text, 'text/html');

					const container = list.getElementById("thread-container");

					if(container) {
						document.getElementById("thread-list").innerHTML = container.innerHTML;
					}
				});
		}

		setInterval(updateThreadList, 10000);
	</script>
{% endblock %}
