{% extends "base.html" %}

{% block title %}<title>mkch - {{board.code}}</title>{% endblock %}

{% block body %}
	<div class="container">
		<form class="search-form">
			<input id="search" name="title" placeholder="Поиск..." type="text"></input>
			<input type="submit" value="Искать" />
		</form>
		<div class="board-container">
			{% if board.banner %}
				<div class="board-banner">
					<img src="{{board.banner.url}}" class="banner-image"></img>
				</div>
			{% endif %}

			{% if board.detail_description %}
				<h3 class="description">{{board.detail_description}}</h3>
			{% endif %}

		<div class="new-thread-button">
			{% if user.is_staff or not board.lockdown and board.enable_posting %}
				<a href="/boards/board/{{board.code}}/new">> начать тред <</a>
			{% endif %}
		</div>

		<div class="pagination top">
			<span class="step-links">
				{% if page_obj.has_previous %}
					<a href="?page=1">&laquo;1</a>
					{% if page_obj.previous_page_number != 1 %}
						<a href="?page={{ page_obj.previous_page_number }}">&lsaquo;{{ page_obj.previous_page_number }}</a>
					{% endif %}
				{% endif %}

				<span class="current">{{ page_obj.number }}</span>

				{% if page_obj.has_next %}
					{% if page_obj.next_page_number != page_obj.paginator.num_pages %}
						<a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}&rsaquo;</a>
					{% endif %}
					<a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}&raquo;</a>
				{% endif %}
			</span>
		</div>

		<div id="thread-list">
			{% for thread in thread_list %}
				<div class="thread-container">
					<div class="thread-item">
						<div class="thread-file" onclick="">
						{% for file in thread.threadfile_set.all %}
								{% if file.fclass == "photo" %}
									<img src="{{file.file.url}}" id={{file.file.url}} class="thread-image{% if blur and thread.is_nsfw %}-nsfw{% endif %}" onclick="createImageFloatingDiv('{{file.file.url}}')"></img>
								{% elif file.fclass == "video" %}
									<video controls="" src="{{file.file.url}}"></video>
								{% else %}
									<a href="{{file.file.url}}">{{file.file.name}}</a>
								{% endif %}
						{% endfor %}
						</div>

						<div class="thread-header list">
							<div class="thread-info list" onclick="window.location.href='/boards/board/{{board.code}}/thread/{{thread.id}}'">
								<h1 class="thread-title list">
									{{thread.title}}
								</h1>
								<h2 class="thread-stats list">
									{{thread.comment_set.count}} СМС, 
									{{thread.rating}}PP 
									<span class="post-date">{{thread.creation | date}} <div class="date-detail" hidden="">{{thread.creation | date:"d/m/Y H:i:s | U"}}</div></span>
								</h2>
							</div>
							<h1 class="thread-id list">#{{thread.id}}</h1>
							{% if user.is_staff %}
								{% load static %}
								<img class="small-icon" src="{% if thread.pinned %}{% static 'media/unpin.png' %}{% else %}{% static 'media/pin.png' %}{% endif %}" onclick="pin({{thread.id}})"></img>
							{% elif thread.pinned %}
								{% load static %}
								<img class="small-icon" src="{% static 'media/unpin.png' %}"></img>
							{% endif %}
						</div>

						<div class="thread-description" onclick="window.location.href='/boards/board/{{board.code}}/thread/{{thread.id}}'">
							<h2>{{thread.formatted | safe}}</h2>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="pagination bottom">
			<span class="step-links">
				{% if page_obj.has_previous %}
					<a href="?page=1">&laquo;1</a>
					{% if page_obj.previous_page_number != 1 %}
						<a href="?page={{ page_obj.previous_page_number }}">&lsaquo;{{ page_obj.previous_page_number }}</a>
					{% endif %}
				{% endif %}

				<span class="current">{{ page_obj.number }}</span>

				{% if page_obj.has_next %}
					{% if page_obj.next_page_number != page_obj.paginator.num_pages %}
						<a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}&rsaquo;</a>
					{% endif %}
					<a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}&raquo;</a>
				{% endif %}
			</span>
		</div>
	</div>

	<script src=" https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js "></script>

	{% load static %}
	<script src="{% static 'js/draggable.js' %}"></script>
	<script src="{% static 'js/date_tooltip.js' %}"></script>

	<script>
		async function pin(id) {
		await fetch("/boards/pin", {
			method: "POST",
			credentials: "include",
			headers: {'X-CSRFToken': Cookies.get("csrftoken")},
			body: JSON.stringify({
			id: id,
			next: window.location.href
			})
		});
		window.location.reload();
		}
	</script>
{% endblock %}
