<!DOCTYPE html>
<html lang="en">
	{% block title %}<title>НДФНБ</title>{% endblock %}
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	{% block static %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
	{% endblock %}

	{% block static_extra %}{% endblock %}

	<head>
		<div class="header">
			{% block head %}{% endblock %}

			<a href="/">MKCH</a>

			<div class="header-buttons">
				{% if user.is_authenticated %}
					<h3>{{user.username}}</h3>
				{% endif %}
				<br/>
			</div>
		</div>
	</head>
	<body id="body">{% block body %}{% endblock %}</body>

	{% block pagination %}
		{% if is_paginated %}
			<div class="pagination">
				<span class="page-links">
					{% if page_obj.has_previous %}
						<a href="{{request.path}}?page={{page_obj.previous_page_number}}">Назад</a>
					{% endif %}
					{% if page_obj.has_next %}
						<a href="{{request.path}}?page={{page_obj.next_page_number}}">Далее</a>
					{% endif %}
				</span>
			</div>
		{% endif %}
	{% endblock %}
</html>
