{% extends 'base.html' %}

{% block title %}<title>mkch - Главная</title>{% endblock %}

{% block body %}
	<div class="container">
		<div class="motd-container">
			<div class="motd">
				Добро пожаловать на MKch, анонимный имиджборд MK.
			</div>	
			<div class="button-group">
				<a class="new-thread-button" href="/passcode">Купить пасскод</a>
			</div>
			<form class="search-form">
				<input id="search" name="code" placeholder="Поиск..." type="text"></input>
				<input type="submit" value="Искать" />
			</form>
		</div>

		<div class="boards-container">
			<h1>Список открытых досок</h1>
			<div class="boards-list">
				{% for board in boards %}
					<div class="board-item">
						<h3><a href="/boards/board/{{board}}">{{board}} --- {{board.description}}</a> | {% if board.category %}{{board.category}}{% else %}нет категории{% endif %}{%if board.is_nsfw %} | NSFW{% endif %}</h3>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="boards-table">
			<table>
				<div class="entry">
					<tr>
						<th>Доска</th>
						<th>Название</th>
						<th>Описание</th>
						<th>Постов</th>
					</tr>
				</div>

				{% for board in boards %}
					<div class="entry">
						<tr>
							<th><a href="/boards/board/{{board.code}}">/{{board.code}}/</a></th>
							<th>{% if board.description %}{{board.description}}{% else %}Нет Данных{% endif %}</th>
							<th>{% if board.detail_description %}{{board.detail_description}}{% else %}Нет Данных{% endif %}</th>
							<th>{{board.thread_set.count}}</th>
						</tr>
					</div>
				{% endfor %}
			</table>
		</div>
	</div>

	{% load static %}
	<script src="{% static 'js/draggable.js' %}"></script>
{% endblock %}
