{% extends 'base.html' %}

{% block title %}<title>НДФНБ - Главная</title>{% endblock %}

{% block body %}
	<div class="motd-container">
		<div class="motd">
			Добро пожаловать на НДФНБ.
		</div>
	</div>

	<div class="boards-container">
		<h1>Список открытых досок</h1>
		<div class="boards-list">
			{% for board in boards %}
				<div class="board-item">
					<a href="/boards/board/{{board}}">{{board}} --- {{board.description}}</a>
				</div>
			{% endfor %}
		</div>
	</div>

	{% load static %}
	<script src="{% static 'js/draggable.js' %}"></script>
{% endblock %}
