{% extends "base.html" %}

{% load static %}

{% block body %}
	<div class="container-centered">
        <button id="theme-toggle" class="settings-button" onclick="toggleTheme()">Тёмная тема</button>
        <br />
        <button id="nsfw-toggle" class="settings-button" onclick="toggleNsfwBlur()">{% if nsfw %}Не блюрить NSFW{% else %}Блюрить NSFW{% endif %}</button>
        <br />
        <button id="animations-toggle" class="settings-button" onclick="toggleAnimations()">{% if animations %}Выключить анимации{% else %}Включить анимации{% endif %}</button>
	</div>

	<div class="dev-team">
		<h2></h2>
		<img width="384" src="{% static "media/picture.png" %}">
		<h5>Команда разработчиков не имеет отношения к команде админов</h5>
	</div>

	<script src="{% static 'js/nsfw.js' %}"></script>
	<script src="{% static 'js/theme.js' %}"></script>
	<script src="{% static 'js/animations.js' %}"></script>
	<script src="{% static 'js/splashes.js' %}"></script>
	<script>setDevSplash();</script>
{% endblock %}
